{% extends "layout.html" %}

{% block content %}

  <div class="container">
    <div class="jumbotron">
  <form action="" method="post">
    {{ form.csrf }}
    <div class="form-group">
      <label for="search"></label>
      <input type="text" class="form-control" id="search" name="search" placeholder="e.g. ibuprofen">
        <br>

    </div>


    <button type="submit" class="btn btn-success">Search</button>
  </form>
        <br><br>
        <p>SciMapper is a way to visualize a scientific concept's linguistic space.
            It takes a central search term, scrapes the abstracts of the most relevant articles and performs basic natural language processing to identify likely related concepts.
            It then performs the same function on each of these extracted terms to generate a network of connections between all concepts.

            Currently only <a href="https://www.wikiwand.com/en/PubMed_Central">PubMed Central</a> is being utilized, which focuses primarily on biological journal articles
            (however a diverse sampling of over 5 million articles are ).
        </p>

        <p>It is powered with Python and the <a href="https://github.com/vasturiano/3d-force-graph">3D Force-Directed Graph</a> JavaScript library</p>
        <p><a href="https://github.com/DanielHHowell/scimapper">Link to GitHub page</a></p>
        <br>
    </div>

  </div>



{% endblock %}