<!doctype html>
<html>

  <head>

    <title>SciMapper</title>
    <script src="https://unpkg.com/three"></script>
    <script src="https://unpkg.com/three-spritetext"></script>
    <script src="https://unpkg.com/3d-force-graph"></script>
    <script src="https://unpkg.com/d3-octree"></script>
    <script src="https://unpkg.com/d3-force-3d"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/sticky_footer.css')}}">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">

  </head>

  <body>

    <div id="header">

      <!-- Static navbar -->
      <nav class="navbar navbar-default" style="background: rgb(248,248,255)">

        <div class="container-fluid">

          <a href='{{ url_for("index") }}'>
            <div class="navbar-header">
              <p class="navbar-brand" id="title" href="#">SciMapper</p>
            </div>
          </a>
        </div><!--/.container-fluid -->
      </nav>

    </div>

      {% block content %}{% endblock %}

    <footer class="footer" style="background: rgb(248,248,255)">
      <div class="container" style="text-align:left">
        <span class="text-muted">by <a href="mailto:danielhhowell@aol.com">Daniel Howell</a> <span class="text-muted"> (2018)
        </span>
      </div>
    </footer>

  </body>

</html>