{% extends "layout.html" %}

{% block content %}

  <div id="3d-graph"></div>
  <script>
    localStorage.clear();
    const Graph = ForceGraph3D()
      (document.getElementById('3d-graph'))
        .jsonUrl('/static/networks/network.json')
        .nodeAutoColorBy('group')
        .backgroundColor('#ffffff')
        .nodeColor('#000000')
        .linkOpacity('0.7')
        .d3Force('collide', d3.forceCollide('40'))
        .nodeThreeObject(node => {
          const sprite = new SpriteText(node.id);
          sprite.color = node.color;
          sprite.textHeight = 8;
          return sprite;
        });
  </script>

{% endblock %}
